atomicwrites==1.4.0
attrs==20.3.0
backcall==0.2.0
colorama==0.4.4
decorator==4.4.2
importlib-metadata==3.4.0
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
more-itertools==8.6.0
packaging==20.9
parso==0.7.1
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.8
py==1.10.0
pygame==2.0.0
Pygments==2.7.3
pyparsing==2.4.7
pytest==5.1.1
selenium==3.141.0
simple-draw==2.7.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.2
wcwidth==0.2.5
zipp==3.4.0
